@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'Breathing';
	src: url('/fonts/Breathing.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	background: #170a0a;
	color: white;
	font-family: 'National Park', sans-serif;
}

h1,
h2 {
	color: #ffb52c;
}

.title {
	font-family: 'Breathing', sans-serif;
	/* color: #0cc0df; */
}
